version: 2.1

executors:
  default:
    docker:
      - image: cimg/base:stable

jobs:
  build:
    executor: default
    parameters:
      env:
        description: "Deployment environment (e.g., dev, prd)"
        type: string
    steps:
      - checkout
      - run:
          name: install system dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y nodejs npm jq
            sudo npm install -g npm@latest
            node -v
            npm -v

      - run:
          name: Build Node Application
          command: |
            echo "Starting build for environment: << parameters.env >>"
            chmod +x deployment/scripts/build.sh
            bash deployment/scripts/build.sh << parameters.env >>

      - persist_to_workspace:
          root: .
          paths:
            - logs/
            - dist/
            - package.json

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          name: build-dev
          env: "dev"
          context: agilery-dev-context
