version: 2.1

# --------------------------------------------------------
# Orbs
# --------------------------------------------------------
orbs:
  aws-cli: circleci/aws-cli@5.4.1

# --------------------------------------------------------
# Executors
# --------------------------------------------------------
executors:
  default:
    docker:
      - image: cimg/node:25.1.0

# --------------------------------------------------------
# Jobs
# --------------------------------------------------------
jobs:
  # ------------------------------
  # Build Job
  # ------------------------------
  build:
    executor: default
    parameters:
      env:
        description: The deployment environment (e.g., dev, prd)
        type: string
    steps:
      - checkout

      - run:
          name: Install Dependencies
          command: |
<<<<<<< Updated upstream
            sudo apt-get install -y jq
=======
            sudo apt-get install -y jq terraform
>>>>>>> Stashed changes
            npm i
      - run:
          name: Ensure all scripts are executable
          command: |
            chmod +x deployment/scripts/*.sh

      - run:
          name: Build Application
          command: |
            bash deployment/scripts/build.sh << parameters.env >>

      - persist_to_workspace:
          root: .
          paths:
            - logs/
            - dist/
            - package.json

<<<<<<< Updated upstream
=======
  # ------------------------------
  # Deploy Job
  # ------------------------------
  deploy:
    executor: default
    parameters:
      env:
        type: string
        default: "dev"
      app_version:
        type: string
        default: ""
    steps:
      - checkout
      - attach_workspace:
          at: .

      # --------------------------
      # AWS CLI Setup
      # --------------------------
      - aws-cli/setup

      - run:
          name: Deploy Application
          command: |
            if [ "<< parameters.env >>" = "prd" ]; then
              export APP_VERSION="<< parameters.app_version >>"
            fi

            echo "App Version resolved: $APP_VERSION"
            bash deployment/scripts/deploy.sh << parameters.env >>

>>>>>>> Stashed changes
workflows:
  version: 2

  # --------------------------------------------------------
  # Dev Workflow
  # --------------------------------------------------------
  build_deploy_dev:
    jobs:
      - build:
          name: build-dev
          env: "dev"
          context: agilery-dev-context
<<<<<<< Updated upstream
=======

      - deploy:
          name: deploy-dev
          env: "dev"
          context: agilery-dev-context
          requires:
            - build-dev
>>>>>>> Stashed changes
