version: 2.1

executors:
  default:
    docker:
      - image: cimg/base:stable

jobs:
  build:
    executor: default
    steps:
      - checkout
      - run:
          name: Hello world
          command: |
            echo "This is a test config file for circle ci"

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          name: build
