version: 2.1

# --------------------------------------------------------
# Orbs
# --------------------------------------------------------
orbs:
  aws-cli: circleci/aws-cli@5.4.1

# --------------------------------------------------------
# Executors
# --------------------------------------------------------
executors:
  build:
    docker:
      - image: cimg/node:25.1.0
  deploy:
    docker:
      - image: cimg/deploy:2025.01

# --------------------------------------------------------
# Jobs
# --------------------------------------------------------
jobs:
  # ------------------------------
  # Build Job
  # ------------------------------
  build:
    executor: build
    description: "Build the application for a given environment"
    parameters:
      env:
        description: The deployment environment (e.g., dev, prd)
        type: string
    steps:
      - checkout

      - run:
          name: Install Dependencies
          command: |
            sudo apt-get install -y jq
            npm i

      - run:
          name: Ensure all scripts are executable
          command: |
            chmod +x $(find . -type f -name "*.sh")

      - run:
          name: Build Application
          command: |
            bash deployment/scripts/build.sh << parameters.env >>

      - persist_to_workspace:
          root: .
          paths:
            - logs/
            - dist/
            - package.json

  # ------------------------------
  # Deploy Job
  # ------------------------------
  deploy:
    executor: deploy
    description: "Deploy the application to a given environment"
    parameters:
      env:
        type: string
        description: "The deployment environment (e.g., dev, prd)"
        default: "dev"
      app_version:
        type: string
        description: "The application version to deploy (required for prd)"
        default: ""
    steps:
      - checkout

      - attach_workspace:
          at: .

      # --------------------------
      # AWS CLI Setup
      # --------------------------
      - aws-cli/setup

      - run:
          name: Ensure all scripts are executable
          command: |
            chmod +x $(find . -type f -name "*.sh")

      - run:
          name: Deploy Application
          command: |
            if [ "<< parameters.env >>" = "prd" ]; then
              export APP_VERSION="<< parameters.app_version >>"
            fi

            echo "App Version resolved: $APP_VERSION"
            bash deployment/scripts/deploy.sh << parameters.env >>

workflows:
  version: 2

  # --------------------------------------------------------
  # Dev Workflow
  # --------------------------------------------------------
  build_deploy_dev:
    jobs:
      - build:
          name: build-dev
          env: "dev"
          context: agilery-dev-context
          # filters:
          #   branches:
          #     only:
          #       - main

      - deploy:
          name: deploy-dev
          env: "dev"
          context: agilery-dev-context
          requires:
            - build-dev
          # filters:
          #   branches:
          #     only:
          #       - main

  # --------------------------------------------------------
  # Dev Workflow
  # --------------------------------------------------------
  build_deploy_prd:
    jobs:
      - deploy:
          name: deploy-prd
          env: "prd"
          context: agilery-prd-context
          app_version: # CHANGE_ME : replace with latest app version
          filters:
            branches:
              only:
                - main
            tags:
              only:
                - /^prd-release-.*$/
