version: 2.1

executors:
  default:
    docker:
      - image: cimg/base:stable

jobs:
  build:
    executor: default
    steps:
      - checkout
      - run:
          name: Hello world
          command: |
            sudo apt-get update
            sudo apt-get install -y nodejs npm jq
            sudo npm install -g npm@latest
            node -v
            npm -v

#      - run:
#          name: Debug directory structure
#          command: |
#            echo "Current directory structure:"
#            ls -lR

      - run:
          name: Build Application
          command: |
            echo "Starting build for environment: << parameters.env >>"
            chmod +x deployment/scripts/build.sh
            bash deployment/scripts/build.sh << parameters.env >>

      - persist_to_workspace:
          root: .
          paths:
            - logs/
            - dist/
            - package.json

  # ------------------------------
  # Deploy Job
  # ------------------------------
  deploy:
    executor: default
    parameters:
      env:
        type: string
        default: "dev"
      app_version:
        type: string
        default: ""
    steps:
      - checkout
      - attach_workspace:
          at: .

      # --------------------------
      # AWS CLI Setup
      # --------------------------
      - aws-cli/setup

      - run:
          name: Install Dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y jq terraform

      - run:
          name: Deploy Application
          command: |
            echo "Starting deployment for environment: << parameters.env >>"
            chmod +x deployment/scripts/deploy.sh

            if [ "<< parameters.env >>" = "prd" ]; then
              echo "Production environment detected."
              echo "Using APP_VERSION from job parameter: << parameters.app_version >>"
              export APP_VERSION="<< parameters.app_version >>"
            fi

            echo "App Version resolved: $APP_VERSION"
            bash deployment/scripts/deploy.sh << parameters.env >>

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          name: build-dev
          env: "dev"
          context: agilery-dev-context
